// CSS-only Lightboxes
// Plugin by Eric Meyer - http://www.oddbird.net/
// Based on the work of Jenna Smith - http://growldesign.co.uk/

// CSS-only lightboxes that work in Everything But IE. Degrades gracefully, with
// no effect on IE at all, so you can set fallback styles there or bootstrap it
// with Javascript. Probably both.

// Set this to "true" to turn on CSS transitions
// - causes Chrome to show fade-out on-load
$lightbox-fade: false !default;

// override to set your own box styles as follows:
// FOR EXAMPLE:
//
// #lightboxes aside
//   +css-lightbox
//
//   &:not(:target), &:target
//     > div
//       /* styles for your box element

//
$lightbox-box: "> div" !default;

// import lightboxes
@import "css-lightbox/lightbox";
