// apply this to the container elements of each lightbox
=css-lightbox(!fade = !lightbox-fade, !style = !lightbox-box)
  &:not(:target), &:target
    +reset-box-model
    +reset-font
    display: block
    z-index: -1
    position: fixed
    top: 0
    left: 0
    width: 100%
    +opacity(0)
    @if !fade == "true"
      +transition("opacity, z-index")
    @if !style != "false"
      #{!style}
        margin: 3em auto
        padding: 1.5em
        width: 32em
        border: 1em solid
        background: white
        text-align: left
        +box-shadow(rgba(0,0,0,.9),0,0,1em)
  &:target
    z-index: 999
    +opacity(1)
    @if !fade == "true"
      +transition("opacity, z-index")
