<div id="content">
  <!-- all your normal page content, with links to lightboxes: -->
  <a href="#about-us">a link to the about-us lightbox</a>
</div>

<div id="lightboxes">
  
  <!-- start lightbox 
    You need this structure for each lightbox:

      * Container
        * Lightbox
        * Link to close the lightbox
      
    But you can use whatever tags/classes/IDs you like
  -->
  
  <aside id="about-us"><!-- Container -->
    <div><!-- Lightbox -->
      <!-- Your Lightbox Content -->
      <a href="#" title="close the 'about' lightbox">close</a><!-- Link to close -->
    </div>
  </aside>
  
  <!-- repeat as needed -->
  
</div>