<div id="container">
  <!-- all your normal page content -->
</div>

<ul id="lightboxes">
  <li id="close"></li>
  <!--
    EXAMPLE LIGHTBOX
    ... each LI needs a unique ID. link to that ID to show the lightbox.
    ... the "box" class (or a replacement class) is needed.
    ... the #close link is needed (as well as the empty LI above), anywhere in your "box".
    ... repeat as needed for any number of lightboxes.
  -->
  <li id="lightbox-about">
    <div class="box">
      <!-- Your Lightbox Content -->
      <a href="#close" class="close" title="close the about lightbox">x</a>
    </div>
  </li>
  <!--
    END EXAMPLE LIGHTBOX
  -->
</ul>